span{
	display: block;
	padding: 50px 50px; 
	overflow: hidden;
}

.spanpad
{
	padding: 20px 20px; 
}
		
form{
	padding: 20px;
	
}


.bodybgColor
{
	/*background-color: #fcf8f5;*/
}

.bgshadow
{
	background-color: #ffffff;
	box-shadow: 1px 1px 1px 1px #536B71;
}

.bgimage
{
	background-image: url('../assets/fexchange.jpg');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 300px;
	opacity: ;
	

	
}
.bgimagevolunteer
{
	
	background-image: url('../assets/volunteer.jpg');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 300px;
	opacity: ;
	
	

}
.bgimagestudent
{
	
	background-image: url('../assets/internation_student_airport.png');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 300px;
	opacity: ;
	
	

}
.bgimagerequest
{
	
	background-image: url('../assets/terminal.jpg');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 300px;
	opacity: ;
	
	

}

.btnwidth
{
	width: 30%;
}



.pageheading
{
	background-color: #ad236c;
	color: white;
	height: 50px;
	margin:auto;


	
}
.fixed{
	position: fixed;
}
.h1-head
{
	padding-left: 5%;
	font-size: 25px;
	
	
}
.h1-title
{
	border-bottom: 5px solid #eedf34;
}
.h3-title
{
	border-bottom: 2px solid grey;
}
.logoutlinkcontainer
{

	text-align: center;
	padding-top: 15px;
	font-size: 20px;
	border-left: white 5px solid;
	height: 50px

}
.logoutlink
{
	color: white;
	text-decoration: none;
}
.logoutlink:hover
{
	color: #eedf34;
	text-decoration: none;
}

.navbar-custom
{
	background-color: #343131;
	border-top:5px solid #eedf34;
	height: 50px;

	width: 100%;


}
.nav-custom{

	background-color: #343131;
	list-style-type: none;
	width: 100%;
    text-align: left;
    overflow: hidden;
    display: block;
 
}
.navli{
	
	display: inline;
	
	


}
.nav:li
{
	color: white;
}
.btn-a{
	color: white;

}
.btn-a:hover{
	color: white;
	text-decoration: none;

}
.navlink{
	text-decoration: none;
	display: inline-block;
	padding-top:10px;
	color: white;
	font-size: 15px;
	
}
.navlink:hover {
	text-decoration: none;
    color: #eedf34;
}

.table:tr:hover{
	background-color: grey;
}

/*.active
{
	
	background-color: #343131;
	padding:16px 0px 16px 0px;
	height: 55px;

	
}*/


